@model Int32?

@{
    ViewBag.Title = "Students";
}

<h2>Students</h2>

<div>
     
    <fieldset>
        <legend>Total number of students is:</legend>
        <div>@Model</div>
    </fieldset>
</div>
<div>
    @Html.ActionLink("Add new student", "Add", "Student")
    @Html.ActionLink("View all students", "ViewStudents", "Student")
    

</div>
