@model WebApplication.Models.UserViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Users&Students</h1>
    
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Users</h2>
        <p>
            Exemplul facut la curs, Add, details si Index.
        </p>
        <p><a class="btn btn-default" href="/User">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Students</h2>
        <p>Exemplele din tema - students - Add, Details, Edit, Index si ViewStudents</p>
        <p><a class="btn btn-default" href="/Student"> Learn more &raquo;</a></p>
    </div>
    
    <div class="col-md-12">
        <h2>User</h2>
        <div>@Model.Email</div>
        <div>@Model.UserName</div>
    </div>
</div>